@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scroll-down {
    @apply border-2 border-[#181818] rounded-full relative;
    height: 60px;
    width: 30px;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #181818;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1.3s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
  }
  
  @keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
}