@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-white-color: #F5F7F8;
  --box-grey-color: #e7e7e76b;

  --grey-color: #45474B;
  --purple-color: #8A2387;
  --red-color: #E94057;
  --orange-color: #F27121;
  --blue-color: #54b3d6;
}

@layer components {
  .text--main--header {
    @apply text-5xl lg:text-6xl font-extrabold;
  }
  .text--header {
    @apply text-[#45474B] text-4xl lg:text-5xl font-extrabold;
  }
  .text--sub--header {
    @apply text-lg sm:text-xl lg:text-2xl xl:text-2xl;
  }
  .text--content {
    @apply text-base sm:text-lg lg:text-xl;
  }
  .text--nav--header {
    @apply text-base sm:text-lg lg:text-xl text-[#45474B] hover--text--transition--color;
  }


  .header--background {
    @apply bg-gradient-to-br from-[#8A2387] via-[#E94057] to-[#F27121];
  }
  .nav--background {
    @apply bg-[#fcfcfc];
  }
  
  
  .div--center {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }


  .hover--text--transition--color {
    @apply hover:text-[#F27121] transition-colors duration-500;
  }
  .hover--scale--transition--button {
    @apply hover:scale-110 transition-transform ease-in duration-300;
  }


  .box--shadow {
    box-shadow: 0 0 1.85rem #737373;
  }
  .text--moving {
    @apply text-transparent bg-clip-text inline-block transition-all duration-700 ease-in-out;
    background-image: linear-gradient(
      to left,
    #636b70 50%,
    #E94057 50%,
    #E94057
    );
    background-size: 200% 100%;
    background-position: 100%;
  }
  .text--moving:hover {
    background-position: 0;
  }
}

@layer base {
  * {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #54b3d6;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4491af;
  }
}
